body
{
    background-color: rgb(213, 225, 239);
    min-height: 100vh;
    text-align: center;
    color: #202C42;
}
.card
{
    height: 470px;
    background-color: #FFFFFF;
    width: 100%;
    max-width: 302px;
    inset: 0;
    position: fixed;
    margin: auto;
    border-radius: 7px;
    padding: 16px;
}
img
{
    width: 100%;
    border-radius: 8px;
}